:root{
    --pinkTerlupakan: #ed93b4;
    --pinkTua: #F2BED1;
    --pinkAgakMuda: #FDCEDF;
    --pinkMuda: #F8E8EE;
    --pinkBgt: #F9F5F6;
    --jawir: #000;
    --putih: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
}

input, button {
    font-size: 16px;
}


/* Header */
.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pinkTerlupakan);
    color: white;
    height: 60px;
}
.head_bar h1{
    font-size: 20px;
}

main {
    max-width: 800px;
    width: 80%;
    padding: 16px;
    margin-top: 4rem;
    margin-bottom: 0.8rem;
    margin-left: 100px;
    margin-right: 100px; 
}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    /* border: 1px solid var(--pinkTua); */
    border-radius: 10px;
    background-color: rgb(242, 190, 209, 2) ;
}

.input_section > h2 {
    text-align: center;
    color: var(--putih);
}

.input_section > form > .input {
    margin: 8px 0;
    cursor: pointer var(--pinkTerlupakan);
}

.input_section > form > button {
    background-color: var(--pinkTerlupakan);
    color: white;
    border: 1px;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--pinkTerlupakan);
}


.input_section > form > .input > label {
    color: var(--pinkBgt);
    font-weight: bold;
    
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: var(--pinkBgt);
    font-weight: bold;
    margin-right: 10px;
}
.input_section #inputBook .input .inputBookTitle{
    margin-top: 6px;
}
.input_section #inputBook .input .inputBookTitle:hover{
    border: 2px solid var(--pinkTerlupakan);
}
 

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--pinkTua);
}

.search_section > h2 {
    color: var(--pinkBgt);
    font-size: 20px;
    font-weight: bold;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 10px;
}

.search_section > form > label {
    display: flex;
    align-items: center;
}

.search_section > form > input {
    padding: 5px;
    border-radius: 5px;
}

.search_section > form > button {
    background-color: var(--pinkTerlupakan);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 1rem 1rem;
    font-size: 15px;
}
.search_section #searchBook label{
    color: var(--pinkBgt);
    font-size: 20px;
    font-weight: bold;
}

.search_section #searchBook #searchBookTitle:hover{
    border: 2px solid var(--pinkTerlupakan);
}

.book_shelf {
    margin: 16px 0 0 0;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--pinkTua);
}

.book_shelf > h2 {
    color: var(--pinkBgt);
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: darkgreen;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: darkred;
    color: white;
}

footer{
    background-color: var(--pinkTerlupakan);
    padding: 0.8rem 0 2rem;
    text-align: center;
    justify-content: center;
    margin-top: 14rem; 
    /* width: 100%;
    height: 50px;  */
    /* position: absolute; */
}



/* Setting media screen */

/* laptop */
@media (max-width: 1366px) {
    html {
      font-size: 80%;
    }
  }

  /* tablet */
  @media (max-width: 758px) {
    html {
      font-size: 70%;
    }
    main{
     
        justify-content: center;
        align-items: center;
        position: center;
        gap: 40px;
        max-width: 100%;
        margin-left: 35px;
        margin-right: 30px;
    }
     .search_section #searchBook{
        width: 100%;
        margin: 10px;
        padding-right: 10px;
        justify-content: center;
     }
     .search_section #searchBook #searchBookTitle{
        width: 150px;


     }
     .search_section #searchBook #searchSubmit{
        width: 100%;
     }
     .search_section #searchBook .cari{
        font-size: 15px;
     }

}
/* hp */
@media (max-width: 450px) {
    html {
      font-size: 60%;
    }
    
  }